<html lang="en-US">
  <head>
    <title>Validation Reporter</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <header></header>
    <main>
      <%== yield %>
    </main>
  </body>
</html>
