<section id="tabs">
  <ul>
  <% @site_tabs.each do |value| %>
    <li><%= value %></li>
  <% end %>
  </ul>
</section>
<section id="table accessibility">
  test
</section>
<section id="table html">
  test
</section>
