body {
  font: normal 18px Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0 auto;
  background: #ffffff;
}

main {
  height: 100%;
  padding: 10px 20px;
}

section, ul {
  margin: 0;
}

a {
  text-decoration: none;
}
.tabs ul {
  margin: 0;
  padding: 0;
}
.tabs li {
  display: inline-block;
  list-style: none;
  padding: 10px;
  background: #dddddd;
  border-radius: 4px;
}
.tabs li.selected {
  background: rgb(255, 204, 153);
}

.inner_list li{
  list-style: square;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #000000;
  padding: 5px;
}

#accessibility td {
  width: 25%;
  text-align: center;
}


